/* ------------------- */
/* Custom Properties   */
/* ------------------- */
:root {
    --clr-body-bg: #fffbeb;
    --clr-body-txt: #000;
    --clr-link: #92350e;
    --clr-link-hover: #ba4817;
    --clr-accent-1: #fef3c7;
    --clr-accent-2: #fabe25;
    --clr-entry-bdr: #818a91;
    --clr-list-bullet: #fc6767;

    --ff-regular: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
    --ff-headings: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;

    --fs-vcard: 1.1rem;
    --fs-vcard-name: 3rem;
    --fs-vcard-pronouns: 1.125rem;
    --fs-entry-title: 1.5rem;

    --sz-width-padding: 5%;
}

@media (prefers-color-scheme: dark) {
    :root {
        --clr-body-bg: #451a03;
        --clr-body-txt: #fffbeb;
        --clr-link: #fabe25;
        --clr-link-hover: #d29f1f;
        --clr-accent-1: #78340f;
        --clr-accent-2: #d87607;
    }
}

/* ------------------- */
/* CSS Reset           */
/* ------------------- */

/* Box sizing rules */
*,
*::before,
*::after { box-sizing: border-box; }

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd { margin: 0; }

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] { list-style: none; }

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label { line-height: 1.1; }

/* Balance text wrapping on headings */
h1, h2, h3, h4 { text-wrap: balance; }

/* A elements that don't have a class get default styles */
a:not([class]) { text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img, picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
    font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) { min-height: 10em; }

/* Anything that has been anchored to should have extra scroll margin */
:target { scroll-margin-block: 5ex; }

/* ------------------- */
/* STYLING BEGINS      */
/* ------------------- */

/* General */
body {
    background-color: var(--clr-body-bg);
    color: var(--clr-body-txt);
    font-family: var(--ff-regular);
    display: grid;
    grid-template-areas:
        'v-card'
        'resume'
        'footer';
}

h1, h2, h3 { font-family: var(--ff-headings); }
a { color: var(--clr-link); }
a:hover { color: var(--clr-link-hover); }

:focus {
    outline-offset: 0.15em;
    outline: 0.15em solid currentColor;
}

/* Layout */
.vcard, .resume, footer { padding: 2em var(--sz-width-padding); }
.vcard { grid-area: v-card; }
.resume { grid-area: resume; }

.footer {
    grid-area: footer;
    background-color: var(--clr-accent-1);
    width: 100%;
    text-align: center;
}

/* V-card */
.vcard {
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: var(--fs-vcard);
}

.vcard__title {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
    gap: 0 0.5em;
}

.vcard__name { font-size: var(--fs-vcard-name); }
.vcard__pronouns { font-size: var(--fs-vcard-pronouns); }

.vcard__occupation {
    font-weight: 400;
    font-size: 1.2rem;
}

.vcard__avatar {
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 8px 8px 40px -10px rgba(0,0,0,.3);
}

.vcard__location {
    gap: 0.5em;
    margin: 0.5em 0;
}

.vcard__connect { text-transform: uppercase; }

.vcard__contact, .vcard__socials {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em 1em;
}

.vcard__link { text-decoration: none; }

/* Sections */
.section {
    font-size: 1.2rem;
    padding-top: 2rem;
	padding-bottom: 2rem;
}

.section:first-child { padding-top: 0; }
.section:last-child { padding-bottom: 0; }

.section__title {
    font-size: 2.5rem;
    margin-bottom: 0.7em;
    padding-bottom: 0.15em;
    border-bottom: 0.05em solid var(--clr-accent-2);
}

.section__lead {
    display: grid;
    gap: 1em;
}

.section__skills {
    list-style: "";
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    padding-left: 0;
}

/* Entries */
.entrylist, .entry, .entry__header {
    display: grid;
}

.entrylist {
    --list-item-top: 2.25rem;
	position: relative;
	padding-left: 1rem;
    list-style: "";
    gap: 2.5em;
}

.entrylist::before {
	content: "";
	display: block;
	width: 1px;
	background: var(--clr-entry-bdr);
	background: linear-gradient(to top,rgba(129,138,145,0) 0,var(--clr-entry-bdr) 100px,var(--clr-entry-bdr) 100%);
	position: absolute;
	top: var(--list-item-top);
	left: 1rem;
	bottom: 0;
}

.entrylist__item {
	position: relative;
	padding-left: 2rem;
}

.entrylist__item::before {
	content: "";
	display: block;
	width: .625rem;
	height: .625rem;
	border-radius: 50%;
	background-color: var( --clr-list-bullet);
	position: absolute;
	top: var(--list-item-top);
	left: 0;
	transform: translate(-50%,0);
}

.entry__title { font-size: var(--fs-entry-title); }
.entry { gap: 0.7em; }
.entry__header { gap: 0.15em; }

.entry__time {
	opacity: 0.75;
	font-size: .875rem;
	letter-spacing: .125em;
	text-transform: uppercase;
	order: -1;
	margin-bottom: .25rem;
}

.bulletlist li::marker,
.markdown li::marker { color: var(--clr-list-bullet); }

/* Projects */
.projectlist, .projectlist__item { display: grid; }
.projectlist { gap: 2em; }

.projectlist, .project__tech {
    list-style: "";
    padding-left: 0;
}

.projectlist__item {
    padding: 2rem;
    background-color: var(--clr-accent-1);
    border-top: 0.2em solid var(--clr-accent-2);
    gap: 0.5em;
}

.project__title { font-size: var(--fs-entry-title); }

.project__tech {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.project__tech--item {
    font-size: 0.85em;
    padding: 0.25em 0.5em;
    border: 0.1em solid var(--clr-accent-2);
}

/* Components */
.inline-icon > svg {
    display: inline-block;
    vertical-align: -10%;
    height: 0.9em;
    fill: currentColor;
}

.item--styled {
    display: inline-flex;
    width: max-content;
    background-color: var(--clr-accent-1);
    padding: 0.35em 0.7em;
}

/* Media query for larger screen sizes */
@media only screen and (min-width: 1025px) {
    body {
        --grid-whitespace: max(min(160px, calc((100% - 1024px) / 2)), 20px);
        padding-top: 5rem;
        grid-template-areas:
            '...... v-card resume ......'
            'footer footer footer footer';
        grid-template-columns: var(--grid-whitespace) 1fr 2fr var(--grid-whitespace);
    }
    .vcard, .resume { padding-top: 0; }
    .vcard { border-right: 0.1em solid var(--clr-accent-2); }
}

/* Media query for printing */
@media print {
    :root { --clr-body-txt: #000; }

    html, body {
        width: 100%;
        min-height: 100%;
        font-size: 10px;
        overflow: visible;
    }

    body { display: block; }
    .vcard, .resume, footer { padding: 0; }
    .resume { padding: 4em 0 2em; }
    .footer { background: transparent; }
    .footer__updated { display: none; }

    .vcard__avatar {
        border: unset;
        box-shadow: unset;
    }
}