---
layout: base.njk
title: Resume of Helen Chong
keywords: resume, cv, about, personal, profile, portfolio, helen chong
description: This is the resume of Helen Chong.
---
{# This Content will be rendered inside the `src/_includes/partials/_about.njk` file. #}
<p class="mb-4">Hey there, I am Helen Chong. I am a front-end web developer with 8 years of working experience as a graphic designer.</p>
<p>I aim to transfer my creativity and problem-solving skills developed from my graphic design experience into web design and web development expertise. I am passionate about creating and building things to solve problems. I have a particular interest on responsive, accessible, inclusive and scalable design to create the best user experience.</p>